.button{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 100%;
    border: solid  1rem var(--bingo-color);
    transition: transform 0.2s ;
    box-shadow: 0 10px #a0c4ffa2, inset 0 10px rgb(0 0% 59% / 0.1);
    cursor: pointer;
    &:hover{
        &:hover{
            transition: transform 0.2s;
            transform: scale(0.95);
        }
    }
    &--play-again{
        font-size: 1.5rem;
        display: none;

        
    }
    &-show{
        display: block;
    }
    &-unshow{
        display: none;
    }
}
