.cards-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    gap: 2rem;
}

.game-cards{
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.card{
    position: relative;
    width: 1400px;
    height: 350px;
    box-shadow: 0 1rem 1rem rgba(0 0 0 / 0.1);
    background-color: var(--primary-color);
    border: 15px solid var(--bingo-color);
    border-radius: 5px;
    outline: 6px double var(--primary-color);
    outline-offset: -1.2rem;
    &--pc,
    &--user{
        width: 550px;
        height: 250px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        border: 20px solid ;
    }
    &--user{
        border-color: var(--user-color);
        &::after{
            content: 'USER CARD';
            position: absolute;
            font-size: 0.7rem;
            bottom: -20px;
        }
    }
    &--pc{
        border-color:var(--pc-color) ;
        &::after{
            content: 'COMPUTER CARD';
            position: absolute;
            font-size: 0.7rem;
            bottom: -20px;
        }
    }
    &--bingo{
        display: grid;
        grid-template-columns: repeat(20,1fr);
        justify-items: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        font-size: 1.4rem;
        outline-offset: -0.9rem;
    }
}

.number{
    border: 3px solid ;
    font-size: 3rem;
    position: relative;
    &--pc{
        color: black;
        border-color:var(--pc-color);
    }
    &--user{
        color: black;
      border-color:var(--user-color);
    }
    &--bingo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border: 4px solid var(--bingo-color);
        border-radius: 100%;
    }
}

.red{
    background-color: #ffadadc4;
}

.blue,
.yellow{
    background-color: #caffbf9d;
    &::after{
        content: '';
        position: absolute;
        left: 15px;
        top: 8px;
        width: 80px;
        height: 3px;
        background-color:#EE6055;
        box-shadow: 0 0.2rem 0.3rem black;
        border-radius: 3px;
        transform: rotate(32deg);
        transform-origin:left;
    }
    &::before{
        content: '';
        position: absolute;
        left: 13px;
        top: 52px;
        width: 80px;
        height: 3px;
        background-color: var(--user-color);
        background-color:#EE6055;
        box-shadow: 0 0.2rem 0.3rem black;
        border-radius: 3px;
        transform: rotate(-33.5deg);
        transform-origin:left;
        
    }
}

.yellow{
    background-color: #ffd6a59d;
 
}