.cards-container{
    display: flex;
    gap: 2rem;
}

.card{
    width: 600px;
    height: 400px;
    border: 2px solid black;
    &--pc,
    &--user{
        height: 350px;
        display: grid;
        grid-template-columns: repeat(5,1fr);

    }
    &--bingo{
        display: grid;
        grid-template-columns: repeat(11,1fr);

    }
}

.number{
    border: 2px solid black;
    font-size: 3rem;
    &--bingo{
        border: 2px solid black;
    }
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}